<h1>Frontend Test (Frakton)</h1>
<!-- Search by email -->
<div class="container color-dark">
  <div class="col">
    <p>Search Users section</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Use the field below to search a particular user based on their email.</p>
    <form>
      <input type="text" class="txt" name="email" (keyup)="onNameKeyUp($event)" placeholder="Type email..."/>
      <input type="button" class="btn" [value]="btnSearchUser" (click)="getUserProfile()"/>
    </form>
  </div>
  <div class="col" *ngIf="userFound">
    <p class="life-container">
      <span>User found! <strong>{{ name }}'s</strong> detail are as follow:<br/><br/>
      Phone number: {{ phoneNumber }}<br/>
      E-mail: {{ email }}<br/>
      City: {{ city }}<br/>
      Company Name: {{ companyName }}<br/>
      Website: {{ website }}
      </span>
    <p>
  </div>
  <div class="col" *ngIf="!userFound">
    <p class="life-container">
      <span><strong>Woupsssey!</strong> Try typing correct email! :/</span>
    <p>
  </div>
</div>
<br/>
<br/>
<!-- Display all users sorted by the name attribute -->
<div class="container color-dark">
  <div class="col">
    <p>Display all users</p>
  </div>
</div>
<div class="container color-light" >
  <div class="col" *ngFor="let user of users">
    <p class="life-container" >
      <span><strong>{{ user.name }}'s</strong> detail are as follow:<br/><br/>
      Phone number: {{ user.phone }}<br/>
      E-mail: {{ user.email }}<br/>
      City: {{ user.address.city }}<br/>
      Company Name: {{ user.company.name }}<br/>
      Website: {{ user.website }}
      </span>
    <p>
  </div>
</div>
